<ion-content>
  <ion-slides pager="true" effect="cube" centeredSlides="true">
    <ion-slide style="background-image: linear-gradient(#24206a, #73d970)">
      <img src="../../assets/img/rgzdthfhjf.JPG" alt="slide">
      <h1>Explore.</h1>
      <p>Discover different point of view. Let yourself keep your mind open!</p>
    </ion-slide>
    <ion-slide style="background: #fec2a6">
      <img src="../../assets/img/sfg.JPG" alt="slide">
      <h1>Share.</h1>
      <p>Be closer. Know more. Express yourself.</p>
    </ion-slide>
    <ion-slide style="background: #fec2a6">
      <img src="../../assets/img/yrtdtcyhc.JPG" alt="slide">
      <h1>Discuss.</h1>
      <p>Show everyone the best way of conversations.</p>
    </ion-slide>
    <ion-slide style="background: #fec2a6">
      <img src="../../assets/img/Sffd.JPG" alt="slide">
      <h1>Keep private.</h1>
      <p>We give you the power be the one who decide.</p>
    </ion-slide>
  </ion-slides>
</ion-content>
