//@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

ion-content {
  ion-slides {
    color: #262626;
    height: 100%;
    align-content: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    vertical-align: center;
  }

  ion-slide {
    display: flex;
    flex-direction: column;
  }

  ion-icon {
    font-size: 30vw;
    padding: 1%;
    color: #6200EE;
  }

  h1 {
    font-size: 7vw;
    font-weight: 600;
  }

  p {
    font-size: 5vw;
    font-weight: 100;
    margin: 0;
  }

  #heart {
    -webkit-animation: rotation 7s infinite linear;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
}